/* Estilos para el header */
header {
    position: fixed; /* Se mantiene la posición fija */
    top: 0;
    left: 0;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.9); /* Fondo semi-transparente */
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    z-index: 999;
}

/* Estilos para el logo */
.logo img {
    width: 80px; /* Reducido el tamaño del logo */
}

/* Estilos para las redes sociales */
.redes-sociales img {
    width: 25px; /* Reducido el tamaño de los iconos */
    margin-left: 15px; /* Aumentado el margen */
}

.redes-sociales img:hover {
    transform: scale(1.1); /* Ajustado el tamaño al hacer hover */
}

/* Estilos para el contenido principal */
.content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: #000; /* Cambiado el color del texto a negro */
}

.content h1 {
    font-size: 3em;
    margin-bottom: 20px;
}

.content p {
    font-size: 1.5em;
    margin-bottom: 30px; /* Aumentado el espacio inferior */
}

/* Estilos para las habilidades */
.habilidades {
    text-align: center;
    margin-top: 50px;
}

.habilidad img {
    width: 80px; /* Reducido el tamaño de las imágenes */
    height: 80px; /* Ajustado el tamaño de las imágenes */
    border: 2px solid #e31515;
    transition: transform 0.5s ease;
}

/* Estilos para las imágenes a la derecha */
.imagen-derecha {
    position: absolute;
    right: 20px;
    top: calc(50% - 150px);
    transform: translateY(-50%);
}

.imagen-derecha img {
    width: 150px; /* Reducido el tamaño de la imagen */
    height: 150px; /* Reducido el tamaño de la imagen */
}

/* Estilos para la sección de proyectos */
.proyectos {
    text-align: center;
    margin-top: 50px;
}

.proyecto {
    display: inline-block;
    width: 280px; /* Reducido el ancho del contenedor */
    margin: 20px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 10px;
}

.proyecto img {
    width: 100%;
    border-radius: 10px;
    margin-bottom: 10px;
}

.proyecto h3 {
    font-size: 1.2em;
    margin-bottom: 5px;
}

.proyecto p {
    font-size: 1em;
    margin-bottom: 10px;
}

/* Estilos para el formulario de contacto */
.contacto {
    text-align: center;
    margin-top: 50px;
}

.formulario {
    display: inline-block;
    max-width: 400px;
    padding: 20px;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.9);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.input-group input,
.input-group textarea {
    width: 100%; /* Ajustado el ancho de los campos de entrada */
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    transition: border-color 0.3s ease;
}

.input-group input:focus,
.input-group textarea:focus {
    border-color: #800080;
}

.boton-enviar {
    display: block;
    width: 100%; /* Ajustado el ancho del botón */
    padding: 10px;
    background-color: #800080;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.boton-enviar:hover {
    background-color: #660066;
}

/* Estilos para el footer */
footer {
    background-color: #513c97;
    padding: 20px 0;
    text-align: center;
    color: #fff; /* Cambiado el color del texto a blanco */
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

.contact-info p {
    margin: 5px 0;
}
